<div class="row">
  <div class="col-12">
    <div class="post" *ngIf="post">
      <h4>{{ post.title }}</h4>

      <p>
        Author: {{ post.author }}<br>
        Date: {{ post.createdOn | date }}
      </p>
      <p>
        {{ post.body }}
      </p>
      <div class="tags">
        <span *ngFor="let tag of post.tags" class="badge badge-warning">
          {{tag}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 bs-linebreak">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="comments">
      <div class="card-block">
        <button (click)="formVisible=true" class="btn btn-primary float-right">Add review</button>
        <h5>Comments</h5>
      </div>
      <div *ngFor="let comment of post.comments" class="row">
        <div class="col-12">
          <span>{{ comment.author }}</span>
          <small>{{ comment.createdOn | date }}</small>
        </div>
        <div class="col-12">
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>